<p>Ваша корзина.

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Наименование</th>
      <th>Размер</th>
        <th>Цена</th>
      <th>Количество</th>
      <th>Всего</th>



    </tr>
  </thead>
  <tbody>
  <% total_prise=0%>
  <% total_quantity=0%>
  <% @items.each do |item| %>
    <tr>
      <th scope="row"><%=item[0].id%></th>
      <td scope="row"><%=item[0].title%></td>
      <td><%=item[0].size.to_i%></td>
      <td><%=item[0].price.to_i%></td>
      <td><%=item[1]%></td>
      <td><%=item[0].price.to_i * item[1].to_i %></td>



    </tr>

  <% end %>
  <% @items.each do |item| %>
        <% total_prise=total_prise + item[0].price.to_i * item[1].to_i%>
    <% end %>
      <tr>
        <th scope="row">Итого:</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
        <th><%=total_prise%> грн</th>
    </tr>




  </tbody>
</table>
        <button type="button" class="btn btn-md btn-success pull-right" >Оформить заказ</button>